$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* inline-block means treat block element as being in-lined in its parent */
/* so if you then centre align the parent the child will be centred */

.picture {
  display: inline-block;
}

.yahtzee {


  .dice-container {
    padding-top: 15px;
  }

  .each-dice-container {
    display:inline-block;
    vertical-align: top;
    height: 125px;
    width: 125px;
  }

  @for $i from 1 through 6 {
    .dice-#{$i} {
      content: image-url('#{$i}.png');

      &:hover {
        height: 110px;
        width: 110px;
      }

      /* This syntax will create a new css class called dice-1.selected where */
      /* selected is only applied if dice-1 is also applied. Note that dice-1 is */
      /* still a class that exists independently, that can be applied on it's own */
      /* if <div class="dice-1 selected"/> then this class will apply.  */
      /* if <div class="selected"/> then this class will NOT apply.  */
      /* if <div class="dice-1"/> then this class will NOT apply, only dice-1 will apply  */

      &.selected {
        height: 120px;
        width: 120px;
      }
    }
  }
}