<div id="dice" class="yahtzee">

  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse
    }
  </style>

  <form novalidate name="gameForm" ng-class="{ 'has-error' : gameForm.newPlayerName.$invalid }">

    <button id="rollDice" ng-click="rollDice()" ng-disabled="!yahtzee.gameStarted">Roll!</button>
    <button id="startGame" ng-click="startGame()" ng-disabled="yahtzee.gameStarted">Start!</button>
    {{currentPlayer}}
    <br>
    <br>

    <div class="dice-container">
      <ul class="list-inline" ng-show="yahtzee.gameStarted">
        <li ng-repeat="currentDice in yahtzee.dice">
          <img class="dice-{{currentDice.value}}" ng-class="{'selected' : currentDice.saved}"
               ng-click="saveDice(currentDice)"/>
        </li>
      </ul>
    </div>

</div>

<div ng-hide="yahtzee.gameStarted">
  <label>Add player</label>
  <input name="newPlayerName" class="form-control" ng-model="newPlayerName" required
         placeholder="Enter new player name">
  <br>
  <button ng-click="addPlayer()" ng-disabled="gameForm.newPlayerName.$invalid">Add new player</button>
  <p class="help-block">&nbsp;<span ng-show="gameForm.newPlayerName.$error.required">Player name is required</span>
  </p>

  <p>Players added: <span ng-repeat="scoresheet in scoresheets">{{scoresheet.playerName}}&nbsp;</span></p>
</div>
<br>

<table ng-show="yahtzee.gameStarted">
  <tr>
    <th></th>
    <th ng-repeat="currentScoresheet in scoresheets">{{currentScoresheet.playerName}}</th>
  </tr>
  <tr ng-repeat="currentField in scorecardTemplate">
    <td>{{currentField}}</td>
    <td ng-repeat="currentScoresheet in scoresheets"
        ng-click="setScore(currentScoresheet.playerName, currentField)">
      {{currentScoresheet.getScore(currentField)}}
    </td>
  </tr>
</table>

</form>
</div>