<div id="dice">

  <style>
    table,th,td
    {
      border:1px solid black;
      border-collapse:collapse
    }
  </style>

  <button id="rollDice" ng-click="rollDice()">Roll!</button>
  <br>
  <br>

   <h5 ng-repeat="currentDice in dice track by $index">{{currentDice.value}}</h5>


  <label>Add player</label>
  <input name="newPlayerName" ng-model="newPlayerName">
  <button ng-click="addPlayer()">Add new player</button>

  <table>
    <tr>
        <th></th>
        <th ng-repeat="currentScoresheet in scoresheets">{{currentScoresheet.playerName}}</th>
    </tr>
    <tr ng-repeat="currentField in scorecardTemplate">
      <td>{{currentField}}</td>
      <td ng-repeat="currentScoresheet in scoresheets" ng-click="setScore(currentField)">{{currentScoresheet.getScore(currentField)}}</td>
    </tr>
  </table>
</div>